@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .head-mail
    right: 15px
    top: 81px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .main-head
    h1
      font-size: 60px
      line-height: 70px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

  .head-phone
    top: 172px
  .h-btn
    top: 172px
  .head-mail
    top: 220px

  .main-head
    h1
      font-size: 48px
      line-height: 56px
      margin-top: 300px

  .mnu-line
    padding: 5px 0


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .head-phone
    width: 100%
    text-align: center
    left: 0
    top: 135px

  .head-mail
    width: 100%
    text-align: center
    right: 0
    top: 180px

  .h-btn
    top: 220px
    width: 200px
    text-align: center
    right: calc(50% - 100px)

  .main-head
    h1
      font-size: 30px
      line-height: 1.3
      font-weight: bold
      margin-top: 335px

  .h-link
    border: none


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

